* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.main-banner {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 700px;
    align-items: center;
}

.main-banner-h1 {
    text-align: center;
    font-size: 60px;
    color: white;
    font-weight: bold;
    padding-top: 200px;

}

.main-banner-paragraph {
    padding-top: 20px;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}



.main-banner-button {

    background-color: orangered;
    padding: 15px;
    font-size: 20px;
    color: white;
    margin-top: 70px;
    margin-left: 46%;
    text-decoration: none;

}

h1 {
    font-size: 50px;
    padding-top: 100px;
    text-align: center;

}



.donate-area-p {
    text-align: center;
    padding-top: 40px;
}

.donate-div-area {
    display: flex;
    margin-left: 25%;
    margin-top: 35px;
}

.amount {
    text-align: center;
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f3f0ef;

}

.highlited-amount {
    text-align: center;
    margin: 20px;
    font-size: 30px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    border: 2px solid orangered;
    background-color: #f1baa5;
}

input {
    background-color: #ffffff;
    margin-left: 45%;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 10px;


}

#horizontal-line {
    height: 1px;
    width: 50%;
    color: gray;
    border-width: 0;
    background-color: gray;
    text-align: center;
    margin-left: 26%;
    margin-bottom: 50px;
}


.second-donate-button {
    background-color: orangered;
    padding: 15px;
    font-size: 20px;
    color: white;
    margin-top: 50px;
    margin-left: 46%;
    text-decoration: none;
}


.donate-plan-p {
    text-align: center;
    padding-top: 10px;
}

.flex-area {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.flex-area-icons {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
}

.food {
    background-color: #d8e0e3;
    margin: 30px;
    padding: 10px;
    width: 30%;
    text-align: left;
}

.shelter {
    background-color: #f1baa5;
    margin: 30px;
    padding: 10px;
    width: 30%;
}

.edu {
    background-color: #f9f7e8;
    margin: 30px;
    padding: 10px;
    width: 30%;
}

.box-content {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.extra-one {
    float: left;
    width: 45%;
    margin: 35px;
}

.extra-two {
    float: right;
    width: 45%;
    margin: 35px;
}

.see-more {
    background-color: orangered;
    padding: 15px;
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-left: 46%;
    margin-bottom: 50px;
    text-decoration: none;
}

.flexible-container {
    display: flex;
    margin-top: 50px;
}

.last-section {
    width: 50%;
    margin-left: 100px;
}

.third-donate-button {
    background-color: orangered;
    padding: 15px;
    font-size: 20px;
    color: white;
    margin-top: 50px;
    margin-left: 40%;
    text-decoration: none;
}

.ridoy-image2 {
    margin-left: 30px;
}

p {
    text-align: center;

}


#heading-underline {
    border-bottom: 5px solid orangered;
    margin-left: 35%;
    margin-right: 35%;
}

.newsletter-section {
    text-align: center;
    font-weight: bold;
    width: 50%;
    height: 200px;
    background-color: #fff4d6;
    margin: 0 auto;
}

.centering {
    justify-content: center;
}

.flex-container {
    display: flex;
}

.newsletter {
    text-align: center;
    width: 50%;
    height: 26px;
    margin-top: 10%;
    border: 0;
    background-color: #eaeae3;
    margin-right: 0;
    margin-left: 0%;
    padding-right: 0;

}

.subscribe-button {
    background-color: orangered;
    height: 45px;
    width: 140px;
    border: none;
    border-radius: 0 5px 5px 0;
    font-weight: bold;
    color: white;
    margin-top: 10%;
    padding-left: 0;
}

footer {
    background-color: black;
    color: white;
    height: 100px;
    text-align: center;
}

#copyright {
    padding-top: 50px;
}